<!DOCTYPE html>
<html>
  <head>
    <title>Turnt Yoga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">                
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Turnt Yoga</a>
            </div>            
        </div>
    </div>
    <div class="container body-content">
    	<%= yield %>
    	<hr />
        <footer>
            <p>&copy; 2016 - Turnt Yoga</p>
        </footer>
    </div>

  </body>
</html>
